.c-app{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    

    &__header{
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      overflow: hidden;
      width: 100%;
      z-index: 1;
      box-sizing: border-box;
      min-height: 350px;
      
      &-img{
        position: absolute;
        width: 100%;
        min-width: 1000px;
        left: 50%;
        transform: translate(-50%, 0);
        top:0;
        z-index: -2;
        &-credit{
          position: absolute;
          right: 0;
          bottom: 0;
          z-index: 0;
          color: white;
          opacity: 0.8;
          font-size: 12px;
          padding: 16px;
          :link{
            color: white;
            font-weight: bold;
          }
        }
      }
      &-content{
        width: 100%;
        text-align: center;
        padding: 1.5rem;
        color: white;
        z-index: 1;
      }
      &::before{
        content: '';
        position: absolute;
        background-color: #131112;
        top:0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0.5;
        z-index: -1;
      }
    }

    &__body{
      background-color: white;
      z-index: 1;
      padding: 1.5rem;
    }
}